.home-page-container {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  height: 90vh;
  min-height: 380px;
  min-width: 900px;
}

.left-container {
  align-items: center;
  background-color: #369;
  border-radius: 190px;
  color: #fff;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 380px;
  justify-content: center;
  margin: 0% 10% 0% 5%;
  width: 380px;
}

.left-container > * {
  margin: 0px;
}

.app-title {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.app-title h1 {
  flex: 0 1 auto;
  font-size: 65px;
  font-weight: 900;
  margin: 0px;
}

.left-container h4 {
  font-style: italic;
}

.right-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 380px;
}

.right-container .links {
  padding: 5px 0px;
}
